:root {
  --color-accent: oklch(80% 0.6 120);
  color-scheme:  light dark;
}

html{
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 200ch;
    margin-inline: auto;
    padding: 5ch;
}

/* ul{
  display: contents;
}

li {
  display: contents;
} */

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
    
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

  

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.6em;

}



/* body.contact {
  font: inherit;
} */

body.contact form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

body.contact label:not(.color-scheme) {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
}

body.contact button {
  grid-column: 1 / -1;
  place-items: center;
}


div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap:1em;

}

.projects img {
  width: 100%;       
  height: auto;      
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

article h2 {
  margin: 0;
}

body.projects h1 {
  font-size: 400%;
}


.project-year {
  align-self:end;
  font-family: Baskerville;
  font-variant-numeric: oldstyle-nums;
  padding-top: 10em;
}


#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.container {
  display: flex;
  gap:2em;
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 2em;
}



ul.legend {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  margin: 0;
  border: 3px dashed #aaa;
  border-radius: 0.5em;
  gap:0.5em;

}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.3em;

}

.swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  aspect-ratio: 1/1;
  background-color: var(--color);
  border-radius: 50%
}

.searchBar {
  width: 100%;
  height: 3em;
  font-size: 15px;
  padding: 1em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity:0.5;
  }
}

.selected {
  --color: oklch(60% 45% 0) !important;
  
  &:is(path) {
    fill:var(--color);
  }

}


path {
  transition: 300ms;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}




body.resume h1 {
  font-size: 400%;
}

div.header {
  font: 100%/1.5 system-ui;
  text-align: center;
  font-size:1ch;
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
}

div.header h1 {
  margin-bottom: 0.1em;
}

div.header p {
  font-size:1.2em;
  line-height: 0.01em;
}

body.resume h2 {
  color: oklch(from var(--color-accent) 85% 25% h);
  line-height: 2.5;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

body.resume .info ul {
  display: block;
  list-style: disc;
  padding-left: 1.5em;
}

body.resume .info li {
  display: list-item;
}

.time {
  
  float: right;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

input, textarea, button, select {
  font-size: 80%;
  font-family: inherit;
}

#stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 2rem;
}

#stats dt {
  font-size: 0.7rem;
  grid-row: 1;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  
}

#stats dd {
  font-size: 2rem;
  grid-row: 2;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 10;
}


.gridlines line {
  stroke: #ccc;
  stroke-opacity: 0.5;
}

dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;

  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
  border-radius: 10em;
  backdrop-filter: blur(4px);
  padding: 0.5em 1em; 

}

circle {

  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;

  @starting-style {
    r: 0;
  }

}



circle:hover {
  transform: scale(1.5);
}

circle.selected {
  fill: #ff6b6b!important;
}

#time-container {
  display: flex;
  flex-direction: column;

}

#slider-row {
  display: flex;
  width: 100%;
}

#slider-row input[type="range"] {
  flex: 1;
}

#commit-time {
  margin-top: 0.5rem;
  margin-left: auto;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#files > div {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

#files dt {
  grid-column: 1;
}

#files dt code small {
  display: block;
  opacity: 0.6;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: steelblue;
  background-color: var(--color);
  border-radius: 50%;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#chart {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}


